@model MyApplication.Models.Patient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patient Details</h2>
<hr />
<div class="row">
    <div class="col-lg-12">      
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.UniqueId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UniqueId)
            </dd>

        </dl>
    </div>
</div>
<h3>More Patient details can be added here like NOK, Diagnosis, Prognosis etc</h3>
<hr />
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
